.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}
footer {
    background-color: #f8f9fa; /* Màu nền cho footer */
    padding: 1rem;
    text-align: center;
}

/* Đảm bảo dots và arrows hiển thị */
.carousel-blog-related .slick-dots {
    bottom: 10px; /* Điều chỉnh vị trí dots nếu cần */
}

/* .carousel-blog-related {
	max-width: 700px;
	margin: 0 auto;
	padding: 30px 0;
} */
/* .carousel-blog-related .slick-slide {
	font-size: 30px;
	text-align: center;
	padding: 40px 20px;
	line-height: 2;
	font-weight: 700;
} */

.carousel-blog-related .slick-slide:nth-child(even) {
	background-color: #ddd;
}
.carousel-blog-related .slick-slide:nth-child(odd) {
	background-color: #ccc;
}
.carousel-blog-related .slick-arrow {
	z-index: 1;
    width: 25px !important; /* Thay đổi kích thước của mũi tên */
    height: 25px !important; /* Thay đổi kích thước của mũi tên */
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền mũi tên */
    border-radius: 50%;
}
.carousel-blog-related .slick-next {
	right: -40px;
}
.carousel-blog-related .slick-prev {
	left: -40px;
}
.ant-carousel .slick-prev::after,
.ant-carousel .slick-next::after {
    border-inline-width: 5px 0; /* 10px cho trái và phải, 0 cho trên và dưới */
    border-block-width: 5px 0; /* 10px cho trên và dưới, 0 cho trái và phải */
    width: 18px !important;  /* Kích thước chiều rộng mũi tên */
    height: 18px !important; /* Kích thước chiều cao mũi tên */
}
.ql-emoji::before {
    content: '😊'; /* Hoặc bất kỳ biểu tượng emoji nào bạn muốn */
    font-size: 15px; /* Điều chỉnh kích thước */
    display: inline-block;
}
.comment-image {
    max-height: 400px; /* Set your desired maximum height */
    width: auto; /* Allow width to adjust based on height */
    object-fit: contain; /* Maintain aspect ratio */
}
.view-comment-box-child {
    background-color: #e0f7fa; /* Màu nền xanh nhạt */
    padding: 8px;
    border-radius: 8px;
    margin-left: 20px; /* Đẩy vào một chút để tạo cảm giác lồng ghép */
    margin-bottom: 5px;
}